@import './base.css';

body {
  background-image: url('/src/assets/images/windowxp.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  margin: 0;
}
